.container {
    margin-top: 20px;
}

.favoritar {
    font-size: 19px;
    color: gray;
    cursor: pointer;
}

.x-circle {
    font-size: 25px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 18px;
    left: 35px;
    z-index: 1;
}

.x-circle:hover {
    color: red;
    cursor: pointer;
}

.favoritar:hover {
    color: red;
}

.estaFavoritado {
    color: red;
    cursor: pointer;
}

.btn-primary{
    margin-left: 90px;
}

