<form>
    <input type="number" name="primeiro-campo" id="id"
    [(ngModel)]="jogo.id" placeholder="Id do jogo">

    <input type="text" name="segundo-campo" id="imagem"
    [(ngModel)]="jogo.imagem" placeholder="Imagem do jogo">

    <input type="text" name="terceiro-campo" id="nome"
    [(ngModel)]="jogo.nome" placeholder="Nome do jogo">

    <input type="text" name="quarto-campo" id="descricao"
    [(ngModel)]="jogo.descricao" placeholder="Descricao do jogo">

    <input type="number" name="quinto-campo" id="preco"
    [(ngModel)]="jogo.preco" placeholder="Preco do jogo">

    <button class="btn btn-primary" (click)="saveJogo()">Enviar</button>
</form>
